.control-link { padding: 0 3px; margin: 0 3px; cursor: pointer; text-decoration: underline; }
.htmx-request.control-link { display: none; }
.container-controls img { display: none; }
.container-controls.htmx-request img { display: inline; }
.container-controls.htmx-request a { display: none; }
.toast-header i { padding-right: 5px; font-size: 120%; }