.control-link { padding: 0 3px; margin: 0 3px; cursor: pointer; text-decoration: underline; }
.htmx-request.control-link { display: none; }
.container-controls img { display: none; }
.container-controls.htmx-request img { display: inline; }
.container-controls.htmx-request a { display: none; }
.toast-header i { padding-right: 5px; font-size: 120%; }
.state-started .control-stop { display: none; }
.state-stopped .control-start { display: none; }
.gen-trash { color: #000; font-size: 125%; } 
.gen-trash:hover { color: #F25961; cursor: pointer; } 