html, body { background-color: #333; color: #DDD; }

table { border: 1px solid #000; width: 100%; border-collapse: collapse; }
th { background-color: #444; color: #669 }
th, td { border: 1px solid #000; padding: 3px 15px; }