* { padding: 0; margin: 0; }
:root {
    --html-background-color: #333;
    --body-background-color: #333;
    --base-text-color: #DDD;
    --header-background-color: #1E1E1E;
    --left-siderbar-background-color: #444;
    --left-siderbar-menu-background-color: #1E1E1E;
}
html {
    background-color: var(--html-background-color);
    color: var(--base-text-color);
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}
body {
    background-color: var(--body-background-color);
    color: var(--base-text-color);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        'header header'
        'left content'
        'footer footer';
    width: 1024px;
    margin: 0 auto;
}

section {  }

#header {
    background-color: var(--header-background-color);
    padding: 1em 2em;
    grid-area: header;
}
#main {
    display:  flex;
}
#left-sidebar {
    background-color: var(--left-siderbar-background-color);
    padding: 0 0;
    grid-area: left;
}
#content {
    padding: 1em 1em;
    flex: auto;
    grid-area: content;
}
#left-sidebar-menu {
    background-color: var(--left-siderbar-menu-background-color);
    padding: 1em 2em;
}
#footer { padding: 1em 2em; rid-area: footer }

table { border: 1px solid #000; border-collapse: collapse; margin: 0 auto; }
th { background-color: #444; color: #669 }
th, td { border: 1px solid #000; padding: 3px 10px; }
.control-link { padding: 0 3px; margin: 0 3px; cursor: pointer; text-decoration: underline; }
.htmx-indicator { display: none; }
.htmx-request.htmx-indicator { display: inline; }