{% extends "tera_tpl.html" -%}
{% block title -%}Genercy - Container Management App{% endblock title %}
{% block content -%}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Images</h3>
        <h6 class="op-7 mb-2">Manage the Docker images</h6>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-label-info btn-round me-2" onclick="">Manage</a>
        <a href="#" class="btn btn-primary btn-round">New Image</a>
    </div>
</div>
<div class="col-md-12">
    <div class="card card-round">
        <div class="card-header">
            <div class="card-head-row card-tools-still-right">
                <div class="card-title">Images</div>
                <div class="card-tools">
                    <div class="dropdown">
                        <button class="btn btn-icon btn-clean me-0" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="addToast('This a success message.','success')">Success</a>
                            <a class="dropdown-item" href="#" onclick="addToast('Becarefull, this is a warning.','warning')">Warning</a>
                            <a class="dropdown-item" href="#" onclick="addToast('Oh gosh, an error message!','error')">Error</a>
                            <a class="dropdown-item" href="#" onclick="addToast('Just be informed of it.','info')">Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table align-items-center mb-0" id="gen-images-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Repository</th>
                            <th scope="col">Containers</th>
                            <th scope="col" class="text-end">Creation date</th>
                            <th scope="col" class="text-center">Size</th>
                            <th scope="col" class="text-center">Tag</th>
                            <th scope="col" class="text-center">Controls</th>
                        </tr>
                    </thead>
                    <tbody id="gen-images-tbody">
                        {% for image in images %}
                        <tr id='gen-line-{{image["ID"]}}'>
                            <td class="text-center tbody-row-number">{{loop.index}}</td>
                            <td>{{image["ID"]}}</td>
                            <td>{{image["Repository"]}}</td>
                            <td>{{image["Containers"]}}</td>
                            <td class="text-end">{{image["CreatedAt"]}}</td>
                            <td class="text-center">{{image["Size"]}}</td>
                            <td class="text-center">{{image["Tag"]}}</td>
                            <td class="text-center">
                                <div class="action-container" style="display: inline;">
                                    <a class="control-link control-start" onclick="openModal({id: 'gen-modal-template', title: 'Delete confirmation', message: 'Do you really want to delete the image {{image["ID"]}}?', buttonText: 'Delete', buttonClass: 'btn-danger', reqVerb: 'delete', reqUrl: '/image/{{image["ID"]}}'}, tempTeste)">
                                        <i class="bi bi-trash gen-trash"></i>
                                    </a>
                                    {% include "spinner-icon.html" -%}
                                </div>
                                <div class="action-container" style="display: inline;" data-bs-toggle="modal" data-bs-target='#gen-modal-template'>
                                    <a class="control-link control-start">
                                        <i class="fas fa-ellipsis-h gen-dots"></i>
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}