{% extends "tera_tpl.html" -%}
{% block title -%}Genercy - Container Management App{% endblock title %}
{% block content -%}
    <h1>Containers list</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Source image</th>
                <th>Creation date</th>
                <th>State</th>
                <th>Control</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{container["ID"]}}</td>
                <td>{{container["Names"]}}</td>
                <td>{{container["Image"]}}</td>
                <td>{{container["CreatedAt"]}}</td>
                <td>
                    {% if container["State"] == "running" %}
                        <img src="static/images/robot_green.svg" width="30" height="30" id='status-img-{{container["ID"]}}' />
                    {% else %}
                        <img src="static/images/robot_red.svg" width="30" height="30" id='status-img-{{container["ID"]}}' />
                    {% endif %}
                </td>
                <td data-container-id='{{container["ID"]}}' data-hx-on::after-request="updateContainerStatus(event)">
                    {% if container["State"] == "running" %}
                        {% include "container_stop_button.html" -%}
                    {% else %}
                        {% include "container_start_button.html" -%}
                    {% endif %}
                    <img src="static/images/spinning-dots.svg" width="23px" height="23px" class="htmx-indicator" id='indicator-{{container["ID"]}}' />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}