<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}
    <meta charset="UTF-8">
    <title>{% block title -%}{% endblock title %}</title>
    {% endblock head -%}
</head>
<body>
<section id="header">
    <p>Header goes here</p>
</section>
<section id="main">
    <section id="left-sidebar">
        <ul id="left-sidebar-menu">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </section>
    <section id="content">
        {% block content -%}{% endblock content -%}
    </section>
</section>
<section id="footer">
    Footer goes here
</section>
</body>
</html>